*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #010205;
    background-image: url("../img/background.png");
}

.caja{
    text-align: center;
    background-color: #ffffffd3;
    margin: 50px 300px;
}

header{
    width: 100%;
    height: 150px;
    background-color: #010205;
}

.interior{
    max-width: 100%;
    padding: 0 10px;
}

.logo{
    float: left;
    padding-left: 30px;
}

.logo img{
    height: 55px;
}

.logo img:hover{
    transform: scale(1.1);
}

.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 50px;
    z-index: 1000;
}

.navegacion ul{
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover{
    transform: scale(1.1);
}

.navegacion ul li a{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover{
    color: #c9001b;
    transform: scale(1.1);
}

.navegacion ul li:hover .hijos{
    display: block;
}

.navegacion .submenu .hijos{
    display: none;
    background: #010205;
    position: absolute;
    width: 100%;
}

.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.navegacion .submenu .hijos li a{
    display: block;
}

h1, h2{
    color: #c9001b;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    text-align: center;
}

table{
    margin: auto;
    border: 2px solid black;
    text-align: center;
}

table th, table td {
    background-color: #c9001b7e;
    border: 2px solid black;
}

article{
    margin: 10px 20px;
    text-align:justify
}