*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: black;
    background-image: url("../img/fondo2.png") ;
}

.bton{
    margin: 400px 0 0 130px;
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.bton:hover{
    background: #721675;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

.bton span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

.bton:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}

.bton:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.bton:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}

.bton:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


header{
    width: 100%;
    height: 150px;
    background-color: #010205a4;
}

.interior{
    max-width: 100%;
    padding: 0 10px;
}

.logo{
    float: left;
    padding-left: 30px;
}

.logo img{
    height: 55px;
}

.logo img:hover{
    transform: scale(1.1);
}

.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 50px;
    z-index: 1000;
}

.navegacion ul{
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover{
    transform: scale(1.1);
}

.navegacion ul li a{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover{
    color: #c9001b;
    transform: scale(1.1);
}

.navegacion ul li:hover .hijos{
    display: block;
}

.navegacion .submenu .hijos{
    display: none;
    background: #010205;
    position: absolute;
    width: 100%;
}

.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.navegacion .submenu .hijos li a{
    display: block;
}

