@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https: //fonts.googleapis.com/css2? family= Concert+One & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-line: none;
}

.body_index{
    background-color: black;
    background-image: url("../img/fondo2.png");
}

.body_all{
    background-color: #000000;
    background-image: url("../img/background 1.png");
    background-repeat: no-repeat;
}

.bton{
    margin: 400px 0 0 130px;
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    text-shadow: 3px 3px 7px rgba(230, 33, 220, 0.774);
}

.bton:hover{
    background: #721675;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

.bton span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

.bton:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}

.bton:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.bton:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}

.bton:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


header{
    width: 100%;
    height: 150px;
    background-color: #010205a4;
}

.interior{
    max-width: 100%;
    padding: 0 10px;
}

.logo{
    float: left;
    padding-left: 30px;
}

.logo img{
    height: 55px;
}

.logo img:hover{
    transform: scale(1.1);
}

.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 50px;
    z-index: 1000;
}

.navegacion ul{
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;

}

.navegacion ul li:hover{
    transform: scale(1.1);
}

.navegacion ul li a{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover{
    color: #c9001b;
    transform: scale(1.1);
}

.navegacion ul li:hover .hijos{
    display: block;
}

.navegacion .submenu .hijos{
    display: none;
    background: #010205;
    position: absolute;
    width: 100%;
}

.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.navegacion .submenu .hijos li a{
    display: block;
}

/*Todas las páginas, menos index*/

.caja{
    background-color: #ffffffd3;
    margin: 20px 300px 20px;
    padding: 40px 50px;
    box-shadow: 0 0 7px black;
}

h1{
    text-align: center;
    color:#992525c9;
    font-family: 'Fredoka', sans-serif;
    text-shadow: 3px 3px 3px rgba(29, 3, 3, 0.322);
    margin-bottom: 10px;
}

 h2{
    color:#992525c9;
    font-family: 'Fredoka', sans-serif;
    margin:10px -80px 10px 0; 
    text-align:center;
    text-shadow: 3px 3px 3px rgba(29, 3, 3, 0.322);
}

.tablecup{
    margin: auto;
    border: 2px solid black;
    text-align: center;
    margin: 20px 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);

} 

table th, table td {
    background-color: #c9001b7e;
    border: 2px solid black;
    width: 20%;
    height: auto;
    text-align: center;
}

.article_cup{
    margin: 10px 20px;
    text-align:justify
}

.article_cup p{
    margin-right: -80px;
}

.containercup{
    margin: 20px 20px;
    padding: 0px 40px;
    height: 150px;
    background:linear-gradient(to left, #ec112e7e, #000000b4);
    border-radius: 10px;
    border: groove;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.589); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.952);
}

.imgvg{
    width: 450px;
}

.boxcup{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-cup{
    opacity: 0;
    color: #ffffff;
}

.boxcup:hover .p-cup, .p-cup{
    font-family:'Press Start 2P', cursive ;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.801); 
}

.containercup:hover{
    background-color: #000000;
    transition: 1s;
}

.boxcup:hover{
    transition: all 2s;
}

.boxcup:hover .imgvg{
    opacity: 60%;
    transition: 1s;
}

.boxcup:hover .p-cup{
    opacity: 1;
    transition: 1s;
}

/*Personajes*/

.container_person{
    width: 800px;
    display: flex;
    flex-direction: row;
    background-color: #721675;

}

.table1{
    width: 4000px;
}

.container_person table{
    margin: 300px;
}

.table1:hover{
    transform: translate(800px);
}

/*login*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body_login{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/cuphead-show-2589459.jpg);
    background-size: cover;    
}

p{
    text-align: justify;
}

#login{ /*id da estilo solo a la sección, sin contar clases internas*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
    height: 500px;
    color: white;
}

.social-login {
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
}

.social-login-element, .social-login-element1 {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);
}

.social-login-element{
    margin-right: 5px;
}

.social-login-element1{
    margin-left: 5px;
}

.social-login-element img, .social-login-element1 img {
    width: 30px;
    top: 0;
    left: -0.625rem;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.social-login-element:hover, .social-login-element1:hover{
    background-color: rgb(0, 0, 0);
}

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}
#usuario, #password{
    height: 30px;
    border-radius: 5px;
}

.form-login i{
    color: var(--purple-color);
    background-color: var(--white-color);
    padding: 1rem 0.8rem;
    border-radius: 100%;
    border: 4px solid var(--gray-color);
}

.form-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 1px 1px 2px var(--dark-color);
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    padding: 20px 40px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.log1 img{
    margin: 0 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#usuario, #password{
    height: 40px;
}

.form-label{
    font-weight: bold;
}

.form-input{
    border: 3px solid rgba(0, 132, 255, 0.5);
    padding: 5px;
    outline: none;
}

.form-input:focus{
    border: 6px solid red;
}

.form-input::placeholder{
    font-size: 00.8rem;
}

.bton-azul, .bton-morado{
    margin-top: 15px;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    height: 40px;
    background-color: rgba(219, 11, 11, 0.753);
    box-shadow: 1px 1px 2px black;
}

.bton-azul:hover, .bton-morado:hover{
    background-color: #721675a8;
}

.form-olvido{
    text-align: center;
    color: var(--blue-color);
    font-size: 0.9rem;
}

.form-login h2{
    margin-left: -60px;
}
/*formulario*/

:root {
    --login-bg:#f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg:  #eadbff ;
}

.body_form{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #a18cd1 0%, #000000 100%);
}

.login-container {
    height: 550px;
    width: 60em;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    background-color: #f8f3ff;
}

.image-container {
    padding: 0;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(129, 44, 129);
}

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn {
    width: 90%;
    height: 30px;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    margin: 10PX;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    
    .image-container {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
}

.btonform{
    margin-top: 15px;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    height: 30px;
    background-color: rgba(219, 11, 11, 0.753);
    box-shadow: 1px 1px 2px black;
}

.btonform:hover{
    background-color: #721675a8;
}
/*videojuego*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body_videojuego{
    background-color:rgba(0, 0, 0, 0.925);
    /*background-image: url(../img/background\ 1.png);*/
    background-size: cover;
}


.container-all{
    max-width: 800px;
    margin: 50px auto;
    margin-top: 50px;
}

.container-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.container-box a{
    text-decoration: none;
    color: black;
}

.box0, .box1, .box2, .box3{
    width: 300px;
    height: 200px;
    margin: 0 0 20px 20px;
    background: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer; /*cambia la flecha del cursor a una manita*/
    transition: all 300ms;
    border-radius: 5px;
    box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.226);
}

.box0:hover, .box1:hover, .box2:hover, .box3:hover{
    transform: translate(5px, -5px);
    box-shadow: -10px 10px 20px rgba(78, 17, 17, 0.623);
}

.box0 h4, .box0 p, .box1 h4, .box1 p, .box2 h4, .box2 p, .box3 h4, .box3 p{
    position: relative;
    z-index: 1; /*Que se mantenga por encima del recuadro rojo*/
    transition: all 200ms;
}

.box0 h4, .box0 p, .box1 h4, .box1 p, .box2 h4, .box2 p, .box3 h4, .box3 p{
    margin-top: 10px;
}

.box0 h4, .box1 h4, .box2 h4, .box3 h4{
    margin-top: 40px;
    padding: 5px;
    font-size: 30px;
    transform: translateY(30px);
    color: #ffffff;
    text-shadow: 10px 10px 20px rgb(107, 102, 102);;
    background-color: #0000004b;
}

.box0:hover h4, .box1:hover h4, .box2:hover h4, .box3:hover h4{
    transform: translateY(0);
    color: white;
}

.box0 p, .box1 p, .box2 p, .box3 p{
    font-size: 14px;
    transform: translateY(100px);
    opacity: 0;
    margin: 15px 20px;
}

.box0:hover p, .box1:hover p, .box2:hover p, .box3:hover p{
    transform: translate(0);
    opacity: 1;
    color: white;
}

.box0 .background-hover, .box1 .background-hover, .box2 .background-hover, .box3 .background-hover{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 250px;
    left:-200px;
    border-radius: 100%;
    transition: all 300ms;
    background: linear-gradient(to bottom, rgba(38, 0, 255, 0.507), rgba(255, 0, 0, 0.527));
}

.box0:hover .background-hover, .box1:hover .background-hover, .box2:hover .background-hover, .box3:hover .background-hover{
    width: 400px;
    height: 400px;
    top: -70px;
    left: -70px;
}

.box0{
 background-image: url(../img/isla_1.jpeg);
 background-size: cover;
 background-position: -15px;
}

.box1{
    background-image: url(../img/isla_2.jpeg);
    background-size: cover;
    background-position: -25px;
   }

.box2{
    background-image: url(../img/isla3.jpeg);
    background-size: cover;
    background-position: -15px;
}

.box3{
    background-image: url(../img/isla_4.jpeg);
    background-size: cover;
    background-position: -30px;
}

.detalle{
    width: 1200px;
    margin-left: -50px;
}
.detail{
    color: white;
    margin: 20px 0px;
    text-align: justify;
}

article{
    width: 700px;
    margin: 40px 0px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section h2{
    color: white;
}

section h3{
    color: white;
    margin-top: 20px;
    
}
.consolas, .funcionalidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.consolas p, .funcionalidades p{
    margin: 10px;
    padding: 5px 10px;
    background-color: #4d4b4b;
    border-radius: 5px;
    color: white;
}

.consolas p:hover, .funcionalidades p:hover{
    background-color: white;
    color: black;
    transition-duration: 1s;
}

/*calificación estrellas*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 100px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  .skill form{
      margin-bottom: 20px;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }


 .star p{
    font-size: 20px;
    margin: 5px;
    color: white;
}

.star {
    display: flex;
    align-items: center;
    flex-direction: row;
    float: left;
    background-color: #000000;
    padding-bottom: 8px;
}

.reseña{
    margin: 50px 200px;
    
}

.rate{
    margin-bottom: 10px;
}

.reseña iframe{
    margin-top: 200px;
}

.skill{
    width: 500px;
    margin: 60px auto 280px;
    color: #fff;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(245, 121, 234, 0.966);
    background-color: #242222cb;
}
  
.skill li{
    margin: 10px 0;
    padding: 10px;
}

.skill p{
    float: left;
}

.skill h1{
      font-size: 60px;
      color: white;
  }

.skill h2{
    margin-left: -70px;
}
  
.bar{
    background: #353b48;
    display: block;
    height: 8x;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgb(211, 109, 211), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25,);
  }

.bar:hover{
    box-shadow: 0 5px 5px rgba(236, 133, 133, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

.bar span{
      height: 12px;
      float: left;
      background:linear-gradient(135deg, rgb(106, 7, 136)0%, rgb(230, 18, 18)100%);
  }
  
.five_star{
      width:90%;
      animation: html 3%;
  }

.four_star{
    width:7%;
    animation: html 3%;
}

.three_star{
    width:2%;
    animation: html 3%;
}

.two_star{
    width:1%;
    animation: html 3%; 
}

.btnopinion{
    display: flex;
    height: 40px;
    margin: 20px 0 10px 0;
    background-color: #e92222ad;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.btnopinion:hover{
    background-color: #721675;
    font-size: 18px;
    transition-duration: 0.5s;
}

.opiniones{
    margin-left: -200px;
}

.btnopinion a{
    color: white;
}

#comentarios{
    margin: 100px -40px;
}

.com{
    background-color: #450957c9;
    width:500px;
    padding: 20px 40px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.com i{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.pcom{
    color: white;
}
.pstar{
    color: orange;
}

.consol{
    width: 60px;
    margin: 10px;
    padding: 5px 10px;
    background-color: #4d4b4b;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user h3{
    margin: -10px 10px;
}

/*Serie*/

.body_serie{
    background-image: url(../img/The-Cuphead-Show.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.serie_netflix p{ 
    color: white;
    margin: 0 20px;
}

.serie_netflix{
    padding: 10px;
    width: 500px;
    margin: 250px 60px;
}

.btnnetflix{
    margin: -180px 200px;
    height: 60px;
    width: 200px;
    background-color: black;
    box-shadow: 0 0 10px #000000, 0 0 10px #ff1706, 0 0 100px #ff0000;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.btonN{
    text-decoration: none;
    color: white;
}

.btnnetflix img{
    margin-top: -20px;
    height: 70px;
}

.btnnetflix:hover{
    transform: scale(1.2);
    transition-duration: 1s ;
}

/*personajes*/

.body_personaje{
    background-color: #000000f1;
    background-image: url(../img/dontae-rice-cuphex-complete-small\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.caja2{
    background-color: #ffffff9a;
    margin: 20px 200px 20px;
    padding: 20px 150px;
    box-shadow: 0 0 7px rgb(216, 69, 204);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
}

#login img{
    height: 150px;
}

.log1{
    background-color: rgba(255, 255, 255, 0.432);
    margin-bottom: 20px;
    border-radius: 10px;
}

.videos{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.377);
    padding: 100px 0;
}

.videos iframe{
    margin-left: 150px;
}

